In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('ml-25m/ratings.csv')

In [3]:
df.describe()

             userId       movieId        rating     timestamp
count  2.500010e+07  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00  1.215601e+09
std    4.679172e+04  3.919886e+04  1.060744e+00  2.268758e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    4.051000e+04  1.196000e+03  3.000000e+00  1.011747e+09
50%    8.091400e+04  2.947000e+03  3.500000e+00  1.198868e+09
75%    1.215570e+05  8.623000e+03  4.000000e+00  1.447205e+09
max    1.625410e+05  2.091710e+05  5.000000e+00  1.574328e+09

In [4]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
personality = pd.read_csv('personality-isf2018/personality-data.csv')

In [6]:
personality.head()

,userid,openness,agreeableness,emotional_stability,conscientiousness,extraversion,assigned metric,assigned condition,movie_1,predicted_rating_1,...,movie_9,predicted_rating_9,movie_10,predicted_rating_10,movie_11,predicted_rating_11,movie_12,predicted_rating_12,is_personalized,enjoy_watching
0,8e7cebf9a234c064b75016249f2ac65e,5.0,2.0,3.0,2.5,6.5,serendipity,high,77658,4.410466,...,120138,4.244817,121372,4.396004,127152,4.120456,95311,4.053847,4,4
1,77c7d756a093150d4377720abeaeef76,7.0,4.0,6.0,5.5,4.0,all,default,94959,4.207280,...,56782,4.019599,5618,3.963953,969,4.174188,1232,4.334877,2,3
2,b7e8a92987a530cc368719a0e60e26a3,4.0,3.0,4.5,2.0,2.5,serendipity,medium,110501,4.868064,...,2288,4.823212,3307,4.676756,1172,4.649281,1212,4.744990,2,2
3,92561f21446e017dd6b68b94b23ad5b7,5.5,5.5,4.0,4.5,4.0,popularity,medium,2905,4.526371,...,3030,4.425689,1281,4.479921,940,4.355061,905,4.317927,3,3
4,030001ac2145a938b07e686a35a2d638,5.5,5.5,3.5,4.5,2.5,popularity,medium,2905,4.526371,...,3030,4.425689,1281,4.479921,940,4.355061,905,4.317927,2,3

In [7]:
ratings = pd.read_csv('personality-isf2018/ratings.csv')

In [8]:
ratings.head()

                              useri   movie_id   rating                tstamp
0  8e7cebf9a234c064b75016249f2ac65e          1      5.0   2001-09-10 17:19:56
1  8e7cebf9a234c064b75016249f2ac65e          2      4.0   2001-09-28 11:34:55
2  8e7cebf9a234c064b75016249f2ac65e          3      4.0   2001-09-28 11:42:50
3  8e7cebf9a234c064b75016249f2ac65e          5      5.0   2001-09-28 11:27:30
4  8e7cebf9a234c064b75016249f2ac65e          6      4.0   2002-01-07 18:12:02

In [9]:
ratings.describe()

           movie_id        rating
count  1.028751e+06  1.028751e+06
mean   4.083825e+04  3.370212e+00
std    4.844535e+04  1.010081e+00
min    1.000000e+00  5.000000e-01
25%    2.628000e+03  3.000000e+00
50%    7.361000e+03  3.500000e+00
75%    7.475400e+04  4.000000e+00
max    1.981170e+05  5.000000e+00

In [10]:
base = './ml-25m/'

for f in os.listdir('./ml-25m'):
    if (f.endswith('.csv')):
        print(f)
        print(pd.read_csv(base + f))

tags.csv
         userId  movieId                  tag   timestamp
0             3      260              classic  1439472355
1             3      260               sci-fi  1439472256
2             4     1732          dark comedy  1573943598
3             4     1732       great dialogue  1573943604
4             4     7569     so bad it's good  1573943455
...         ...      ...                  ...         ...
1093355  162521    66934  Neil Patrick Harris  1427311611
1093356  162521   103341     cornetto trilogy  1427311259
1093357  162534   189169               comedy  1527518175
1093358  162534   189169             disabled  1527518181
1093359  162534   189169              robbery  1527518193

[1093360 rows x 4 columns]
ratings.csv
          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]
genome-scores.csv
          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]
movies.csv
       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
62418                                        Drama
62419                                  Documentary
62420                                 Comedy|Drama
62421                           (no genres listed)
62422                       Action|Adventure|Drama

[62423 rows x 3 columns]
links.csv
       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

[62423 rows x 3 columns]
genome-tags.csv
      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [11]:
files = {filename.split('.')[0]:"./ml-25m/{}".format(filename) for filename in os.listdir('./ml-25m') if filename.endswith('csv')}
files

{'tags': './ml-25m/tags.csv',
 'ratings': './ml-25m/ratings.csv',
 'genome-scores': './ml-25m/genome-scores.csv',
 'movies': './ml-25m/movies.csv',
 'links': './ml-25m/links.csv',
 'genome-tags': './ml-25m/genome-tags.csv'}

In [12]:
tags_df = pd.read_csv(files['genome-tags'])

In [13]:
gs_df = pd.read_csv(files['genome-scores'])

In [14]:
gs_df.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [15]:
toy_story_tags = gs_df[gs_df.movieId == 1]

In [25]:
t10_toy_story = toy_story_tags.sort_values('relevance', ascending=False)[0:50]
t10_toy_story

      movieId  tagId  relevance
1035        1   1036    0.99925
243         1    244    0.99875
785         1    786    0.99575
588         1    589    0.98575
63          1     64    0.98425
587         1    588    0.98000
784         1    785    0.96450
203         1    204    0.95975
185         1    186    0.95475
62          1     63    0.94725
535         1    536    0.93675
411         1    412    0.92875
970         1    971    0.91625
468         1    469    0.90725
202         1    203    0.90375
1061        1   1062    0.89625
28          1     29    0.89375
309         1    310    0.89300
741         1    742    0.88575
413         1    414    0.87625
602         1    603    0.87475
716         1    717    0.87225
444         1    445    0.86825
277         1    278    0.84200
308         1    309    0.83925
373         1    374    0.83150
214         1    215    0.81500
192         1    193    0.81450
496         1    497    0.81225
463         1    464    0.80950
414         1    415    0.79900
747         1    748    0.77950
760         1    761    0.77050
742         1    743    0.76550
971         1    972    0.76000
219         1    220    0.74450
503         1    504    0.73475
645         1    646    0.72850
1071        1   1072    0.72425
387         1    388    0.70950
467         1    468    0.69625
1113        1   1114    0.69400
553         1    554    0.68700
278         1    279    0.68625
265         1    266    0.68475
1011        1   1012    0.68125
29          1     30    0.67625
1091        1   1092    0.67325
354         1    355    0.66625
18          1     19    0.66250

In [26]:
t10_toy_story.set_index('tagId')

       movieId  relevance
tagId
1036         1    0.99925
244          1    0.99875
786          1    0.99575
589          1    0.98575
64           1    0.98425
588          1    0.98000
785          1    0.96450
204          1    0.95975
186          1    0.95475
63           1    0.94725
536          1    0.93675
412          1    0.92875
971          1    0.91625
469          1    0.90725
203          1    0.90375
1062         1    0.89625
29           1    0.89375
310          1    0.89300
742          1    0.88575
414          1    0.87625
603          1    0.87475
717          1    0.87225
445          1    0.86825
278          1    0.84200
309          1    0.83925
374          1    0.83150
215          1    0.81500
193          1    0.81450
497          1    0.81225
464          1    0.80950
415          1    0.79900
748          1    0.77950
761          1    0.77050
743          1    0.76550
972          1    0.76000
220          1    0.74450
504          1    0.73475
646          1    0.72850
1072         1    0.72425
388          1    0.70950
468          1    0.69625
1114         1    0.69400
554          1    0.68700
279          1    0.68625
266          1    0.68475
1012         1    0.68125
30           1    0.67625
1092         1    0.67325
355          1    0.66625
19           1    0.66250

In [27]:
t10_ts = t10_toy_story.join(tags_df, lsuffix='_caller', rsuffix='_other')
t10_ts

,movieId,tagId_caller,relevance,tagId_other,tag
1035,1,1036,0.99925,1036,toys
243,1,244,0.99875,244,computer animation
785,1,786,0.99575,786,pixar animation
588,1,589,0.98575,589,kids and family
63,1,64,0.98425,64,animation
587,1,588,0.98000,588,kids
784,1,785,0.96450,785,pixar
203,1,204,0.95975,204,children
185,1,186,0.95475,186,cartoon
62,1,63,0.94725,63,animated
535,1,536,0.93675,536,imdb top 250
411,1,412,0.92875,412,friendship
970,1,971,0.91625,971,story
468,1,469,0.90725,469,great movie
202,1,203,0.90375,203,childhood
1061,1,1062,0.89625,1062,unlikely friendships
28,1,29,0.89375,29,adventure
309,1,310,0.89300,310,disney animated feature
741,1,742,0.88575,742,original
413,1,414,0.87625,414,fun
602,1,603,0.87475,603,light
716,1,717,0.87225,717,nostalgic
444,1,445,0.86825,445,good
277,1,278,0.84200,278,cute
308,1,309,0.83925,309,disney
373,1,374,0.83150,374,family
214,1,215,0.81500,215,classic
192,1,193,0.81450,193,cgi
496,1,497,0.81225,497,heartwarming
463,1,464,0.80950,464,great
414,1,415,0.79900,415,fun movie
747,1,748,0.77950,748,oscar (best animated feature)
760,1,761,0.77050,761,oscar winner
742,1,743,0.76550,743,original plot
971,1,972,0.76000,972,storytelling
219,1,220,0.74450,220,clever
503,1,504,0.73475,504,highly quotable
645,1,646,0.72850,646,mentor
1071,1,1072,0.72425,1072,very good
387,1,388,0.70950,388,feel-good
467,1,468,0.69625,468,great ending
1113,1,1114,0.69400,1114,witty
553,1,554,0.68700,554,interesting
278,1,279,0.68625,279,cute!
265,1,266,0.68475,266,creativity
1011,1,1012,0.68125,1012,technology
29,1,30,0.67625,30,affectionate
1091,1,1092,0.67325,1092,visually stunning
354,1,355,0.66625,355,entertaining
18,1,19,0.66250,19,action

In [21]:
t10_ts['tag']

1035                  toys
243     computer animation
785        pixar animation
588        kids and family
63               animation
587                   kids
784                  pixar
203               children
185                cartoon
62                animated
Name: tag, dtype: object

In [20]:
ratings[ratings.movieId == 1]

          userId  movieId  rating   timestamp
70             2        1     3.5  1141415820
254            3        1     4.0  1439472215
910            4        1     3.0  1573944252
1152           5        1     4.0   858625949
1304           8        1     4.0   890492517
...          ...      ...     ...         ...
24997918  162529        1     2.0   888181499
24998300  162530        1     5.0   989808332
24998525  162533        1     4.5  1280920369
24998892  162534        1     4.0  1526714137
24999624  162538        1     2.0  1438780765

[57309 rows x 4 columns]

In [ ]:
vuosittaiset genre genomisuosikit / tagit / etc...